examples/image svg pdf.json
[{"id":"7855b31f.be455c","type":"inject","z":"a3f1fa25.1fe3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":560,"wires":[["58239d73.30c134"]]},{"id":"58239d73.30c134","type":"file in","z":"a3f1fa25.1fe3a8","name":"","filename":"node_modules/node-red-contrib-pdfmake-2/examples/sample.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":490,"y":560,"wires":[["f3ea19ee.f08518"]]},{"id":"f3ea19ee.f08518","type":"base64","z":"a3f1fa25.1fe3a8","name":"","action":"str","property":"payload","x":820,"y":560,"wires":[["54ef025d.56fccc"]]},{"id":"54ef025d.56fccc","type":"template","z":"a3f1fa25.1fe3a8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"pageSize\": \"A4\",\n    \"pageOrientation\": \"portrait\",\n    \"pageMargins\": [\n        40,\n        60,\n        40,\n        60\n    ],\n    \"info\": {\n        \"title\": \"awesome Document\",\n        \"author\": \"john doe\",\n        \"subject\": \"subject of document\",\n        \"keywords\": \"keywords for document\"\n    },\n    \"content\": [\n        \"Sample Image from file\",\n        {\n            \"image\": \"data:image/jpeg;base64,{{{payload}}}\",\n            \"width\": 200\n        },\n        \"Sample SVG\",\n        {\n            \"svg\": \"<svg width=\\\"300\\\" height=\\\"200\\\" viewBox=\\\"0 0 300 200\\\"><polygon points=\\\"100,10 40,198 190,78 10,78 160,198\\\" style=\\\"fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;stroke-linecap:round;\\\"/></svg>\",\n            \"width\": 150\n        }\n\n    ]\n}","output":"json","x":320,"y":620,"wires":[["bdd7feab.d9412"]]},{"id":"57c0a23a.ab3bec","type":"file","z":"a3f1fa25.1fe3a8","name":"","filename":"test.pdf","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":620,"y":620,"wires":[[]]},{"id":"bdd7feab.d9412","type":"pdfmake","z":"a3f1fa25.1fe3a8","name":"","outputType":"Buffer","inputProperty":"payload","outputProperty":"payload","options":"{}","x":480,"y":620,"wires":[["57c0a23a.ab3bec"]]}]