examples/simple pdf.json
[{"id":"40aa0652.d1bf88","type":"pdfmake","z":"a3f1fa25.1fe3a8","name":"","outputType":"Buffer","x":500,"y":460,"wires":[["97d255cf.8bc138"]]},{"id":"30e9a280.04a94e","type":"inject","z":"a3f1fa25.1fe3a8","name":"","topic":"","payload":"{\"content\":[\"First paragraph\",\"Another paragraph, this time a little bit longer to make sure, this line will be divided into at least two lines\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":460,"wires":[["40aa0652.d1bf88"]]},{"id":"97d255cf.8bc138","type":"file","z":"a3f1fa25.1fe3a8","name":"","filename":"test.pdf","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":660,"y":460,"wires":[[]]},{"id":"da72935b.7c159","type":"comment","z":"a3f1fa25.1fe3a8","name":"Simple Example PDF","info":"This is the simplest PDF test as seen in the pdfmake examples [here](http://pdfmake.org/playground.html)","x":380,"y":420,"wires":[]}]